*{
  box-sizing: border-box;
  margin: 0 auto;
  list-style: none;
}

body{
  display: block;
}

header.header{
  background-color: rgb(227, 217, 217, .8);
  box-shadow: 0 2px 3px #b9aaa2;
  /* border: 1px solid red; */
  max-width: 100%;
  height: 100px;
  margin: 0 auto;
  position: sticky;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
}

div.container{
  /* border: 1px solid red; */
  max-width: 1200px;
  height: 100px;
  margin: 0 auto;
  position: sticky;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
}

div.logo_nav{
  position: absolute;
  top: 48%;
  transform: translateY(-40%);
  left: 40px;
  width: 300px;
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.logo_nav{
    left: 5px;
  }
}

@media screen and (max-width: 375.98px){
  div.logo_nav{
    left: 5px;
  }
}


a.logo img{
  width: 100%;
}

@media (min-width: 376px) and (max-width: 575.98px){
  a.logo img{
    width: 240px;
  }
}

@media screen and (max-width: 375.98px){
  a.logo img{
    width: 200px;
  }
}

a.logo img:hover{
  box-shadow: 0 2px 3px #b9aaa2;
  border-radius: 50px;
}

div.inside{
  /* border: 1px solid red; */
  display: inline-flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 80px;
}

button{
  cursor: pointer;
}

button img{
  width: 20px;
  height: 20px;
}

nav.nav{
  margin: 30px auto 0;
}

ul.nav_list{
  padding: 0;
  margin: 0 10px;
  display: inline-flex;
  list-style: none;
}

@media (min-width: 576px) and (max-width: 1199.98px){
  ul.nav_list{
    width: 960px;
    max-width: 100%;
    display: none;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  ul.nav_list{
    display: none;
  }
}

@media screen and (max-width: 375.98px){
  ul.nav_list{
    display: none;
  }
}

ul.nav_list > li{
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

ul.nav_list li > a{
  text-decoration: none;
  font-size: 18px;
  color: #80677a;
  padding: 10px;
  /* border: 1px solid black; */
  transform: translateY(0px);
  transition: 0.5s;
}

ul.nav_list > li.bg{
  background-color: #f6f9fb;
  color: black;
  border-radius: 10px;
}

ul.nav_list li > a:hover{
  background-color: #d0b7ab;
  color: black;
  border-radius: 10px;
  transform: translateY(-10px);
}

div.social_block{
  font-size: 1rem;
  padding: 5px 10px;
  position: relative;
}

div.social_block:hover ul.social_link_list{
  display: block;
}

ul.social_link_list{
  margin: 0;
  padding: 0;
  display: none;
  border: 1px solid #58340a;
  z-index: 10;
  background-color: white;
  position: absolute;
  right: -1px;
  top: 10px;
}

ul.social_link_list li{
  list-style: none;
  width: 85px;
  border: 1px dotted #58340a;
}

ul.social_link_list li > a{
  color: black;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 12px 8px;
}

ul.social_link_list li > a:hover{
  color: #58340a;
}

div.hamburger_nav{
  /* border: 1px solid red; */
  width: 38px;
  height: 30px;
  position: absolute;
  top: -50px;
  cursor: pointer;
}

@media (min-width: 992px) and (max-width: 1199.98px){
  div.hamburger_nav{
    display: inline-block;
    /* margin: 93px 0 0 89%; */
    margin-top: 94px;
    margin-left: calc(91% + 20px);
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.hamburger_nav{
    display: inline-block;
    margin-top: 94px;
    margin-left: calc(89% + 20px);
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.hamburger_nav{
    display: inline-block;
    margin-top: 94px;
    margin-left: calc(87% + 20px);
  }
}

@media (min-width: 412px) and (max-width: 575.98px){
  div.hamburger_nav{
    display: inline-block;
    margin-top: 94px;
    margin-left: calc(83% + 20px);
  }
}

@media (min-width: 376px) and (max-width: 414.98px){
  div.hamburger_nav{
    display: inline-block;
    margin-top: 92px;
    margin-left: calc(83% + 20px);
  }
}

@media screen and (max-width: 375.98px){
  div.hamburger_nav{
    display: inline-block;
    margin-top: 90px;
    margin-left: calc(83% + 20px);
    width: 44px;
  }
}

div.hamburger_nav div.bar1{
  width: 32px;
  height: 3px;
  background-color: #92551a;
  border-radius: 30px;
  position: absolute;
  top: 0px;
  transition: 0.4s;
}

div.change .bar1{
  transform: rotate(-45deg) translate(-8px, 8px);
}

div.hamburger_nav div.bar2{
  width: 32px;
  height: 3px;
  background-color: #92551a;
  border-radius: 30px;
  position: absolute;
  top: 12px;
  transition: 0.4s;
}

div.change .bar2{
  opacity: 0;
}

div.hamburger_nav div.bar3{
  width: 32px;
  height: 3px;
  background-color: #92551a;
  border-radius: 30px;
  position: absolute;
  top: 24px;
  transition: 0.4s;
}

div.change .bar3{
  transform: rotate(45deg) translate(-8px, -10px);
}

div.hamburger_nav ul.list{
  /* border: 1px solid red; */
  width: 200px;
  position: absolute;
  right: -20px;
  top: 57px;
  text-align: center;
  display: none;
  list-style: square;
  color: #e2b1b1;
  z-index: 50;
}

@media (min-width: 376px) and (max-width: 414.98px){
  div.hamburger_nav ul.list{
    right: -10px;
  }
}

@media screen and (max-width: 375.98px){
  div.hamburger_nav ul.list{
    right: 0;
  }
}

div.change ul.list{
  display: inline-block;
  background-color: #efeee7;
  padding: 20px 0;
  margin-top: 2px;
  box-shadow: inset -9px -9px 0 0 #d0bea9;
}

@media (min-width: 376px) and (max-width: 414.98px){
  div.change ul.list{
    margin-top: 4px;
  }
}

@media screen and (max-width: 375.98px){
  div.change ul.list{
    margin-top: 6px;
  }
}

div.change ul.list li{
  margin: 20px;
  text-align: center;
}

div.hamburger_nav ul a{
  font-size: 20px;
  font-weight: 500;
  color: #8c5235;
  text-decoration: none;
}

div.hamburger_nav ul a:hover{
  color: #d46a2b;
  border-bottom: 1px solid;
}

div.icon{
  display: inline-block;
  /* border: 1px solid red; */
  margin: 35px 0 0 93%;
}

@media (min-width: 992px) and (max-width: 1199.98px){
  div.icon{
    margin-left: calc(85% + 20px);
    margin-top: 35px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.icon{
    margin-left: calc(82% + 20px);
    margin-top: 35px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.icon{
    margin-left: calc(79% + 20px);
    margin-top: 35px;
  }
}

@media (min-width: 412px) and (max-width: 575.98px){
  div.icon{
    margin-left: calc(73% + 20px);
    margin-top: 35px;
  }
}

@media (min-width: 376px) and (max-width: 414.98px){
  div.icon{
    margin-left: calc(72% + 12px);
    margin-top: 33px;
  }
}

@media screen and (max-width: 375.98px){
  div.icon{
    margin-left: calc(70% + 20px);
    margin-top: 32px;
  }
}


div.icon img{
  width: 45px;
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.icon img{
    width: 45px;
  }
}

@media screen and (max-width: 375.98px){
  div.icon img{
    width: 45px;
  }
}

div.box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, .5);
  z-index: 1001;

  display: none;
}





div.story{
  background-image: url(../images/backg3.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 1200px;
  position: relative;
  z-index: 2;
  /* height: 900px; */
  /* border: 1px solid red; */
}

div.text_all{
  position: relative;
  z-index: 2;
}

div.other_text{
  /* border: 1px solid; */
  /* margin-left: 956px; */
  padding-top: 8%;
  /* border: 1px solid yellow; */
}

@media (min-width: 992px) and (max-width: 1199.98px){
  div.other_text{
    padding-top: 8%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.other_text{
    padding-top: 8%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.other_text{
    padding-top: 22%;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.other_text{
    padding-top: 20%;
  }
}

@media screen and (max-width: 375.98px){
  div.other_text{
    padding-top: 18%;
  }
}


div.other_text h3{
  font-size: 28px;
  font-weight: 400;
  color: #ca7824;
  /* border: 1px solid pink; */
  margin-left: 80%;
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.other_text h3{
    font-size: 24px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.other_text h3{
    font-size: 32px;
    margin-left: 70%;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.other_text h3{
    font-size: 32px;
    margin-left: 62%;
  }
}

@media screen and (max-width: 375.98px){
  div.other_text h3{
    font-size: 32px;
    margin-left: 60%;
  }
}

div.other_text1{
  /* border: 1px solid red; */
  margin-top: 12%;
  /* margin-left: 650px;
  /* margin-top: 13%; */
  /* margin-left: 57%; */
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.other_text1{
    margin-top: 15%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.other_text1{
    background-color: rgb(255 235 213 / 50%);
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.other_text1{
    background-color: rgb(255 235 213 / 50%);
    margin-top: 45%;
  }
}

@media screen and (max-width: 375.98px){
  div.other_text1{
    background-color: rgb(255 235 213 / 50%);
    margin-top: 45%;
  }
}

div.other_text1 > P{
  /* text-align: center; */
  /* border: 1px solid blueviolet;  */
  margin: 10px;
  font-size: 18px;
  color: #615d5a;
  padding-left: 56%;
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.other_text1 > p{
    color: #8c5512;
    text-align: center;
    padding: 10px 9%;
    background-color: rgb(255 235 213 / 50%);
    margin: 0 20%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.other_text1 > p{
    color: #8c5512;
    padding: 10px 9%;
    margin-left: 38%;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.other_text1 > p{
    color: #8c5512;
    padding: 10px 9%;
    /* margin-left: 38%; */
  }
}

@media screen and (max-width: 375.98px){
  div.other_text1 > p{
    color: #8c5512;
    padding: 10px 9%;
    /* margin-left: 38%; */
  }
}

div.other_text2{
  /* border: 1px solid blue; */
  margin-top: 2%;
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.other_text2{
    margin-top: 6%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.other_text2{
    background-color: rgb(255 235 213 / 50%);
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.other_text2{
    background-color: rgb(255 235 213 / 50%);
  }
}

@media screen and (max-width: 375.98px){
  div.other_text2{
    background-color: rgb(255 235 213 / 50%);
  }
}

div.other_text2 > P{
  /* text-align: center; */
  /* border: 1px solid blueviolet;  */
  margin: 10px;
  font-size: 18px;
  color: #615d5a;
  padding-left: 44%;
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.other_text2 > p{
    color: #8c5512;
    text-align: center;
    padding: 10px 9%;
    background-color: rgb(255 235 213 / 50%);
    margin: 0 20%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.other_text2 > p{
    color: #8c5512;
    padding: 10px 9%;
    margin-left: 38%;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.other_text2 > p{
    color: #8c5512;
    padding: 10px 9%;
    /* margin-left: 38%; */
  }
}

@media screen and (max-width: 375.98px){
  div.other_text2 > p{
    color: #8c5512;
    padding: 10px 9%;
    /* margin-left: 38%; */
  }
}

div.pic{
  /* border: 1px solid red; */
  width: 40px;
  height: 40px;
  position: relative;
  margin-top: 28%;
  margin-left: 55%;
}

@media (min-width: 576px) and (max-width: 991.98px){
  div.pic{
    margin-top: 0;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.pic{
    margin-top: 0;
  }
}

@media screen and (max-width: 375.98px){
  div.pic{
    margin-top: 0;
  }
}

div.pic img{
  position: absolute;
  width: 40px;
  height: 40px;
}

@media (min-width: 576px) and (max-width: 991.98px){
  div.pic img{
    display: none;
    margin-top: 0;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.pic img{
    display: none;
  }
}

@media screen and (max-width: 375.98px){
  div.pic img{
    display: none;
  }
}

div.title{
  /* border: 1px solid black; */
  max-width: 1200px;
  padding: 80px 0 50px 0;
  font-size: 28px;
  text-align: center;
  color: #ca7824;
  background-color: #ffffff;
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.title{
    padding: 60px 0 40px 0;
  }
}

@media screen and (max-width: 375.98px){
  div.title{
    padding: 60px 0 40px 0;
  }
}

div.the_div{
  max-width: 1200px;
  /* height: 350px; */
  /* border: 1px solid red; */
  overflow: hidden;
  background-image: url(../images/bg2.PNG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 20px;
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.the_div{
    display: none;
  }
}

@media screen and (max-width: 375.98px){
  div.the_div{
    display: none;
  }
}

div.content{
  /* border: 1px solid red; */
  /* width: 1200px; */
  height: 350px;
  background-color: hsla(100, 0%, 80%, 0.2);
  border-radius: 20px;
}

div.content > p{
  color: #ffffff;
  text-align: center;
  padding: 123px;
  text-shadow: 1px 0px 20px #e27942;
  font-weight: bold;
  line-height: 26px;
  font-size: 18px;
}


/* ---app----------------------------------------- */
div.app{
  display: none;
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.app{
    /* border: 1px solid red; */
    display: block;
  }

  div.block{
    /* border: 1px solid rebeccapurple; */
    height: 350px;
    overflow: hidden;
  }

  div.block img{
    width: 100%;
  }

  div.appcontent{
    background-color: #ece3e4;
  }

  div.appcontent > p{
    color: #8a4906;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 18px;
  }
}

@media screen and (max-width: 375.98px){
  div.app{
    /* border: 1px solid red; */
    display: block;
  }

  div.block{
    /* border: 1px solid rebeccapurple; */
    height: 350px;
    overflow: hidden;
  }

  div.block img{
    width: 100%;
  }

  div.appcontent{
    background-color: #ece3e4;
  }

  div.appcontent > p{
    color: #8a4906;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 18px;
  }
}

/* ---app------------------------------------------ */



div.under{
  max-width: 1200px;
  margin: 100px auto 50px;
  background-image: url(../images/backg4.jpg);
  background-repeat: no-repeat;
}

@media (min-width: 376px) and (max-width: 767.98px){
  div.under{
    background-image: url(../images/nail.jpg);
    width: 100%;
  }
}

@media screen and (max-width: 375.98px){
  div.under{
    background-image: url(../images/nail.jpg);
    width: 100%;
  }
}

div.icon-logo:first-child{
  /* border: 1px solid red; */
  width: 450px;
  height: 150px;
  margin-left: 43%;
}
@media (min-width: 992px) and (max-width: 1199.98px){
  div.icon-logo:first-child{
    margin-left: 43%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.icon-logo:first-child{
    margin-left: 18%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.icon-logo:first-child{
    width: 320px;
    height: 120px;
    margin-left: 27%;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.icon-logo:first-child{
    width: 270px;
    height: 90px;
    margin-left: 10%;
  }
}

@media screen and (max-width: 375.98px){
  div.icon-logo:first-child{
    width: 235px;
    height: 80px;
    margin-left: 11%;
    padding-top: 45px;
  }
}

div.icon-logo{
  /* border: 1px solid red; */
  width: 450px;
  height: 150px;
  margin-top: 70px;
  position: relative;
  margin-left: 54%;
}

@media (min-width: 992px) and (max-width: 1199.98px){
  div.icon-logo{
    margin-left: 45%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.icon-logo{
    margin-left:28%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.icon-logo{
    width: 320px;
    height: 120px;
    margin-left: 27%;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.icon-logo{
    width: 270px;
    height: 90px;
    margin-left: 10%;
  }
}

@media screen and (max-width: 375.98px){
  div.icon-logo{
    width: 235px;
    height: 80px;
    margin-left: 11%;
  }
}

div.icon-logo img{
  width: 168px;
  margin: 20px 0 20px 102px;
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.icon-logo img{
    width: 129px;
    margin: 18px 0;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.icon-logo img{
    width: 95px;
    margin: 14px 0;
  }
}

@media screen and (max-width: 375.98px){
  div.icon-logo img{
    width: 90px;
    margin: 14px 0;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.icon-logo:first-child img{
    width: 90px;
    margin: 55px 0 0;
  }
}

div.icon-logo > p{
  margin-top: -80px;
    margin-left: 265px;
    color: #46423f;
    background-color: rgb(255 235 213 / 50%);
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.icon-logo > p{
    margin-top: -83px;
    margin-left: 120px;
    color: #615d5a;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.icon-logo > p{
    margin-top: -72px;
    margin-left: 113px;
    color: #615d5a;
  }
}

@media screen and (max-width: 375.98px){
  div.icon-logo > p{
    margin-top: -63px;
    margin-left: 86px;
    color: #615d5a;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.icon-logo:first-child > p{
    margin-top: -68px;
   }
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.icon-logo:first-child > p{
   margin-top: -50px;
  }
}




div.step_pic{
  max-width: 1200px;
  /* border: 1px solid red; */
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.step_pic{
    width: 100%;
  }
}

@media screen and (max-width: 375.98px){
  div.step_pic{
    width: 100%;
  }
}

div.step_pic img{
  width: 100%;
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.step_pic img{
    width: 100%;
  }
}

@media screen and (max-width: 375.98px){
  div.step_pic img{
    width: 100%;
  }
}

div.announcement{
  /* border: 1px solid black; */
  padding: 80px 0 50px 0;
  font-size: 28px;
  text-align: center;
  color: #ca7824;
}

div.tb{
  margin: 0 20px;
  /* border: 1px solid green; */
}

table{
  border: 1px solid black;
  border-collapse: collapse;
  /* min-width: 100%; */
  max-width: 1000px;
}

/* @media (min-width: 576px) and (max-width: 767.98px){
  div.my_div1{
    width: 540px;
  }
} */

table td{
  border: 1px solid #b3b3b3;
  padding: 10px;
  color: #615d5a;
  display: table-cell;
}

@media (min-width: 376px) and (max-width: 575.98px){
  table td{
    display: table-caption;
  }
}

@media screen and (max-width: 375.98px){
  table td{
    display: table-caption;
  }
}

table td img{
  width: 332px;
  height: 200px;
  background-size: cover;
  vertical-align: bottom;
}

table td h3{
  font-size: 20px;
  color: #2d71c7;
}






div.right_sidebar{
  /* border: 1px solid red; */
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  min-height: 400px;
  width: 310px;
  background-color: #f5f3e4;
  color: black;
  padding: 10px 20px 10px 10px;
  border-radius: 10px 0 0 10px;
  z-index: 100;
  transition: transform 1s;
  box-shadow: inset 3px -3px 0 0 #82565699;
}
div.right_sidebar.-open{
  transform: translate(0%, -50%);
}

button.btn_drawer{
  background: none;
  background-color: #EFEBBB;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  color: black;
  border: 1px solid #835656;
  font-size: 18px;
  width: 1.6em;
  padding: 4px 0;
  line-height: 1.6;
  display: inline-block;
  border-radius: 5px 0 0 5px;
  text-align: center;
  outline: none;
  cursor: pointer;
}

div.bon{
  border-bottom: 1px solid #e3dddd;
  margin-bottom: 28px;
}

div.sidebar h3{
  font-size: 20px;
  font-weight: bold;
  color: #ca7824;
}

div.sidebar img{
  width: 40px;
  height: 100%;
  margin-bottom: 10px;
}

div.sidebar p > span{
  color: #515456;
  font-size: 14px;
}

div.sidebar i{
  width: 30px;
  height: 30px;
  color: #fc95a7;
  margin-left: 16px;
  cursor: pointer;
}





button.go_top{
  width: 42px;
  height: 40px;
  background: none;
  position: sticky;
  left: 20px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
}

button.go_top img{
  width: 22px;
  height: 20px;
}




/* footer */


footer.footer{
  margin: 20px auto 0;
  font-size: 1rem;
  display: block;
  background: #E3D9D9;
  padding: 30px 0;
}
footer div.picture{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer div.picture span{
  margin: 5px 10px;
}
footer div.picture span img{
  width: 45px;
  height: 45px;
}

@media (min-width: 376px) and (max-width: 575.98px){
  footer div.picture span img{
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 375.98px){
  footer div.picture span img{
    width: 20px;
    height: 20px;
  }
}


footer div.search{
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 991.98px){
  footer div.search{
    width: 720px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  footer div.search{
    width: 100%;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  footer div.search{
    width: 100%;
    display: grid;
    align-content: space-evenly;
  }
}

@media screen and (max-width: 375.98px){
  footer div.search{
    width: 100%;
    display: grid;
    align-content: space-evenly;
  }
}

footer div.search_box{
  display: inline-block;
  margin: 0;
}

footer div.search span{
  margin: 5px 40px;
  display: inline-block;
}

@media (min-width: 768px) and (max-width: 991.98px){
  footer div.search span{
    margin: 5px 25px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  footer div.search span{
    margin: 5px 13px;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  footer div.search span{
    margin: 5px auto;
  }
}

@media screen and (max-width: 375.98px){
  footer div.search span{
    margin: 5px auto;
  }
}

footer div.search span a{
  text-decoration: none;
}
footer div.search span p{
  color: black;
}

@media (min-width: 376px) and (max-width: 575.98px){
  footer div.search span p{
    color: #515456;
  }
}

@media screen and (max-width: 375.98px){
  footer div.search span p{
    color: #515456;
    font-size: 14px;
  }
}

footer div.search span p:hover{
  color: brown;
  font-size: 24px;
}

footer div.notice{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
footer div.notice p{
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: #8a4906;
}

@media screen and (max-width: 375.98px){
  footer div.notice p{
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
  }
}
