*{
  box-sizing: border-box;
  margin: 0 auto;
}

body{
  display: block;
}

header.header{
  /* border: 1px solid red; */
  max-width: 1200px;
  position: sticky;
  z-index: 1000;
  top: 0;
}

div.headerall{
  height: 100px;
  background-color: rgb(230 216 216 / 60%);
  box-shadow: 0 2px 3px #b9aaa2;
}

div.logo_nav{
  display: inline-block;
  padding: 13px 50px;
  align-items: center;
  /* border: 1px solid red; */
}

@media screen and (max-width: 575.98px){
  div.logo_nav{
    padding: 18px 10px;
  }
}

a.logo img{
  width: 350px;
}

@media screen and (max-width: 575.98px){
  a.logo img{
    width: 300px;
  }
}

div.icon{
  display: inline-block;
  /* position: absolute; */
  top: 30px;
  position: absolute;
  right: 14%;
  margin-right: 10px;
}

@media screen and (max-width: 575.98px){
  div.icon{
    right: 11%;
  }
}

div.icon img{
  /* border: 1px solid red; */
  width: 55px;
  /* margin-left: 515px; */
  /* margin-top: 6px; */
}

div.box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, .5);
  z-index: 10;

  display: none;
}

div.hamburger_nav{
  /* border: 1px solid red; */
  width: 38px;
  height: 30px;
  display: inline-block;
  position: absolute;
  right: 9%;
  top: 43%;
  cursor: pointer;
}

@media screen and (max-width: 575.98px){
  div.hamburger_nav{
    right: 4%;
  }
}

div.hamburger_nav div.bar1{
  width: 36px;
  height: 3.5px;
  background-color: #92551a;
  border-radius: 30px;
  position: absolute;
  top: 0px;
  transition: 0.4s;
}

div.change .bar1{
  transform: rotate(-45deg) translate(-8px, 8px);
}

div.hamburger_nav div.bar2{
  width: 36px;
  height: 3.5px;
  background-color: #92551a;
  border-radius: 30px;
  position: absolute;
  top: 12px;
  transition: 0.4s;
}

div.change .bar2{
  opacity: 0;
}

div.hamburger_nav div.bar3{
  width: 36px;
  height: 3.5px;
  background-color: #92551a;
  border-radius: 30px;
  position: absolute;
  top: 24px;
  transition: 0.4s;
}

div.change .bar3{
  transform: rotate(45deg) translate(-8px, -10px);
}

div.hamburger_nav ul.list{
  /* border: 1px solid red; */
  width: 200px;
  position: absolute;
  right: -20px;
  top: 60px;
  text-align: center;
  display: none;
  list-style: none;
  color: #e2b1b1;
  z-index: 50;
}

div.change ul.list{
  display: inline-block;
  background-color: #efebeb;
  /* border-radius: 16px; */
  padding: 20px 0;
}

div.change ul.list li{
  margin: 20px;
  text-align: center;
}

div.hamburger_nav ul a{
  font-size: 20px;
  font-weight: 500;
  color: #8c5235;
  text-decoration: none;
}

div.hamburger_nav ul a:hover{
  color: #d46a2b;
}



div.story{
  background-image: url(../images/backg3.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 1200px;
  position: relative;
  z-index: 2;
  /* height: 900px; */
  /* border: 1px solid red; */
}

div.text_all{
  position: relative;
  z-index: 2;
}

div.other_text{
  /* border: 1px solid; */
  /* margin-left: 956px; */
  padding-top: 8%;
  /* border: 1px solid yellow; */
}

@media (min-width: 992px) and (max-width: 1199.98px){
  div.other_text{
    padding-top: 8%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.other_text{
    padding-top: 8%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.other_text{
    padding-top: 22%;
  }
}

@media screen and (max-width: 575.98px){
  div.other_text{
    padding-top: 20%;
  }
}



div.other_text h3{
  font-size: 28px;
  font-weight: 400;
  color: #ca7824;
  /* border: 1px solid pink; */
  margin-left: 80%;
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.other_text h3{
    font-size: 24px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.other_text h3{
    font-size: 32px;
    margin-left: 70%;
  }
}

@media screen and (max-width: 575.98px){
  div.other_text h3{
    font-size: 32px;
    margin-left: 62%;
  }
}

div.other_text1{
  /* border: 1px solid red; */
  margin-top: 12%;
  /* margin-left: 650px;
  /* margin-top: 13%; */
  /* margin-left: 57%; */
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.other_text1{
    margin-top: 15%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.other_text1{
    background-color: rgb(255 235 213 / 50%);
  }
}

@media screen and (max-width: 575.98px){
  div.other_text1{
    background-color: rgb(255 235 213 / 50%);
    margin-top: 45%;
  }
}

div.other_text1 > P{
  /* text-align: center; */
  /* border: 1px solid blueviolet;  */
  margin: 10px;
  font-size: 18px;
  color: #615d5a;
  padding-left: 56%;
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.other_text1 > p{
    color: #8c5512;
    text-align: center;
    padding: 10px 9%;
    background-color: rgb(255 235 213 / 50%);
    margin: 0 20%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.other_text1 > p{
    color: #8c5512;
    padding: 10px 9%;
    margin-left: 38%;
  }
}

@media screen and (max-width: 575.98px){
  div.other_text1 > p{
    color: #8c5512;
    padding: 10px 9%;
    /* margin-left: 38%; */
  }
}

div.other_text2{
  /* border: 1px solid blue; */
  margin-top: 2%;
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.other_text2{
    margin-top: 6%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.other_text2{
    background-color: rgb(255 235 213 / 50%);
  }
}

@media screen and (max-width: 575.98px){
  div.other_text2{
    background-color: rgb(255 235 213 / 50%);
  }
}

div.other_text2 > P{
  /* text-align: center; */
  /* border: 1px solid blueviolet;  */
  margin: 10px;
  font-size: 18px;
  color: #615d5a;
  padding-left: 44%;
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.other_text2 > p{
    color: #8c5512;
    text-align: center;
    padding: 10px 9%;
    background-color: rgb(255 235 213 / 50%);
    margin: 0 20%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.other_text2 > p{
    color: #8c5512;
    padding: 10px 9%;
    margin-left: 38%;
  }
}

@media screen and (max-width: 575.98px){
  div.other_text2 > p{
    color: #8c5512;
    padding: 10px 9%;
    /* margin-left: 38%; */
  }
}

div.pic{
  /* border: 1px solid red; */
  width: 40px;
  height: 40px;
  position: relative;
  margin-top: 28%;
  margin-left: 55%;
}

@media (min-width: 576px) and (max-width: 991.98px){
  div.pic{
    margin-top: 0;
  }
}

@media screen and (max-width: 575.98px){
  div.pic{
    margin-top: 0;
  }
}

div.pic img{
  position: absolute;
  width: 40px;
  height: 40px;
}

@media (min-width: 576px) and (max-width: 991.98px){
  div.pic img{
    display: none;
    margin-top: 0;
  }
}

@media screen and (max-width: 575.98px){
  div.pic img{
    display: none;
  }
}

div.title{
  /* border: 1px solid black; */
  max-width: 1200px;
  padding: 80px 0 50px 0;
  font-size: 28px;
  text-align: center;
  color: #ca7824;
  background-color: #ffffff;
}

@media screen and (max-width: 575.98px){
  div.title{
    padding: 60px 0 40px 0;
  }
}


div.the_div{
  max-width: 1200px;
  /* height: 350px; */
  /* border: 1px solid red; */
  overflow: hidden;
  background-image: url(../images/bg2.PNG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 20px;
}

@media screen and (max-width: 575.98px){
  div.the_div{
    display: none;
  }
}

div.content{
  /* border: 1px solid red; */
  /* width: 1200px; */
  height: 350px;
  background-color: hsla(100, 0%, 80%, 0.2);
  border-radius: 20px;
}

div.content > p{
  color: #ffffff;
  text-align: center;
  padding: 123px;
  text-shadow: 1px 0px 20px #e27942;
  font-weight: bold;
  line-height: 26px;
  font-size: 18px;
}


/* 手機版 */
div.app{
  display: none;
}

@media screen and (max-width: 575.98px){
  div.app{
    /* border: 1px solid red; */
    display: block;
  }

  div.block{
    /* border: 1px solid rebeccapurple; */
    height: 350px;
    overflow: hidden;
  }

  div.block img{
    width: 100%;
  }

  div.appcontent{
    background-color: #ece3e4;
  }

  div.appcontent > p{
    color: #8a4906;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 18px;
  }
}



div.under{
  max-width: 1200px;
  margin: 100px auto 50px;
  background-image: url(../images/backg4.jpg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 575.98px){
  div.under{
    background-image: url(../images/nail.jpg);
    width: 100%;
  }
}

div.icon-logo:first-child{
  /* border: 1px solid red; */
  width: 450px;
  height: 150px;
  margin-right: 150px;
  background-color: #EDE6E1;
  border-radius: 20px;
}

div.icon-logo{
  /* border: 1px solid red; */
  width: 450px;
  height: 150px;
  margin-right: 30px;
  margin-top: 70px;
  background-color: #EDE6E1;
  border-radius: 20px;
  box-shadow: 22px 0px #e8c1c3;
  position: relative;
}

div.icon-logo img{
  width: 168px;
  margin: 20px 0;
}

div.icon-logo:first-child > p{
  margin-top: -110px;
  margin-left: 140px;
  color: #615d5a;
}

div.icon-logo > p{
  margin-top: -90px;
  margin-left: 140px;
  color: #615d5a;
}





div.step_pic{
  max-width: 1200px;
  /* border: 1px solid red; */
}

@media screen and (max-width: 575.98px){
  div.step_pic{
    width: 100%;
  }
}

div.step_pic img{
  width: 100%;
}

@media screen and (max-width: 575.98px){
  div.step_pic img{
    width: 100%;
  }
}

div.announcement{
  /* border: 1px solid black; */
  padding: 80px 0 50px 0;
  font-size: 28px;
  text-align: center;
  color: #ca7824;
}

div.tb{
  margin: 0 20px;
  /* border: 1px solid green; */
}

table{
  border: 1px solid black;
  border-collapse: collapse;
  /* min-width: 100%; */
  max-width: 1000px;
}

/* @media (min-width: 576px) and (max-width: 767.98px){
  div.my_div1{
    width: 540px;
  }
} */

table td{
  border: 1px solid #b3b3b3;
  padding: 10px;
  color: #615d5a;
  display: table-cell;
}

@media screen and (max-width: 575.98px){
  table td{
    display: table-caption;
  }
}

table td img{
  width: 332px;
  height: 200px;
  background-size: cover;
  vertical-align: bottom;
}

table td h3{
  font-size: 20px;
  color: #2d71c7;
}






div.right_sidebar{
  /* border: 1px solid red; */
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  min-height: 400px;
  width: 310px;
  background-color: #f5f3e4;
  color: black;
  padding: 10px 20px 10px 10px;
  border-radius: 10px 0 0 10px;
  z-index: 100;
  transition: transform 1s;
}
div.right_sidebar.-open{
  transform: translate(0%, -50%);
}

button.btn_drawer{
  background: none;
  background-color: #EFEBBB;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  color: black;
  border: 1px solid #835656;
  font-size: 18px;
  width: 1.6em;
  padding: 4px 0;
  line-height: 1.6;
  display: inline-block;
  border-radius: 5px 0 0 5px;
  text-align: center;
  outline: none;
  cursor: pointer;
}

div.sidebar h3{
  font-size: 20px;
  font-weight: bold;
  color: #ca7824;
}

div.sidebar img{
  width: 40px;
  height: 100%;
  margin-bottom: 10px;
}

div.sidebar p > span{
  color: #515456;
  font-size: 14px;
}





button.go_top{
  width: 40px;
  height: 40px;
  background: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: white;
  font-size: 20px;
  line-height: 1;
  outline: none;
  cursor: pointer;
}

button.go_top img{
  width: 22px;
  height: 20px;
}




/* footer */


footer.footer{
  margin: 20px auto 0;
  font-size: 1rem;
  display: block;
  background: #E3D9D9;
  padding: 30px 0;
}
footer div.picture{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer div.picture span{
  margin: 5px 10px;
}
footer div.picture span img{
  width: 45px;
  height: 45px;
}
footer div.search{
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 991.98px){
  footer div.search{
    width: 720px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  footer div.search{
    width: 540px;
  }
}

@media screen and (max-width: 575.98px){
  footer div.search{
    width: 100%;
  }
}

footer div.search span{
  margin: 5px 50px
}

@media (min-width: 768px) and (max-width: 991.98px){
  footer div.search span{
    margin: 5px 25px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  footer div.search span{
    margin: 5px 13px;
  }
}

@media screen and (max-width: 575.98px){
  footer div.search span{
    margin: 5px auto;
  }
}

footer div.search span a{
  text-decoration: none;
}
footer div.search span p{
  color: black;
}

@media screen and (max-width: 575.98px){
  footer div.search span p{
    color: #515456;
  }
}

footer div.search span p:hover{
  color: brown;
  font-size: 24px;
}
footer div.notice{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
footer div.notice p.cw{
  margin: 0 auto;
  text-align: center;
  font-size: 5px;
  color: #8a4906;
}
