*{
  box-sizing: border-box;
  margin: 0 auto;
  list-style: none;
}

body{
  display: block;
}

header.header{
  background-color: rgb(227, 217, 217, .8);
  box-shadow: 0 2px 3px #b9aaa2;
  /* border: 1px solid red; */
  max-width: 100%;
  height: 100px;
  margin: 0 auto;
  position: sticky;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
}

div.container{
  /* border: 1px solid red; */
  max-width: 1200px;
  height: 100px;
  margin: 0 auto;
  position: sticky;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
}

div.logo_nav{
  position: absolute;
  top: 48%;
  transform: translateY(-40%);
  left: 40px;
  width: 300px;
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.logo_nav{
    left: 5px;
  }
}

@media screen and (max-width: 375.98px){
  div.logo_nav{
    left: 5px;
  }
}


a.logo img{
  width: 100%;
}

@media (min-width: 376px) and (max-width: 575.98px){
  a.logo img{
    width: 240px;
  }
}

@media screen and (max-width: 375.98px){
  a.logo img{
    width: 200px;
  }
}

a.logo img:hover{
  box-shadow: 0 2px 3px #b9aaa2;
  border-radius: 50px;
}

div.inside{
  /* border: 1px solid red; */
  display: inline-flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 80px;
}

button{
  cursor: pointer;
}

button img{
  width: 20px;
  height: 20px;
}

nav.nav{
  margin: 30px auto 0;
}

ul.nav_list{
  padding: 0;
  margin: 0 10px;
  display: inline-flex;
  list-style: none;
}

@media (min-width: 576px) and (max-width: 1199.98px){
  ul.nav_list{
    width: 960px;
    max-width: 100%;
    display: none;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  ul.nav_list{
    display: none;
  }
}

@media screen and (max-width: 375.98px){
  ul.nav_list{
    display: none;
  }
}

ul.nav_list > li{
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

ul.nav_list li > a{
  text-decoration: none;
  font-size: 18px;
  color: #80677a;
  padding: 10px;
  /* border: 1px solid black; */
  transform: translateY(0px);
  transition: 0.5s;
}

ul.nav_list > li.bg{
  background-color: #f6f9fb;
  color: black;
  border-radius: 10px;
}

ul.nav_list li > a:hover{
  background-color: #d0b7ab;
  color: black;
  border-radius: 10px;
  transform: translateY(-10px);
}

div.social_block{
  font-size: 1rem;
  padding: 5px 10px;
  position: relative;
}

div.social_block:hover ul.social_link_list{
  display: block;
}

ul.social_link_list{
  margin: 0;
  padding: 0;
  display: none;
  border: 1px solid #58340a;
  z-index: 10;
  background-color: white;
  position: absolute;
  right: -1px;
  top: 10px;
}

ul.social_link_list li{
  list-style: none;
  width: 85px;
  border: 1px dotted #58340a;
}

ul.social_link_list li > a{
  color: black;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 12px 8px;
}

ul.social_link_list li > a:hover{
  color: #58340a;
}

div.hamburger_nav{
  /* border: 1px solid red; */
  width: 38px;
  height: 30px;
  position: absolute;
  top: -50px;
  cursor: pointer;
}

@media (min-width: 992px) and (max-width: 1199.98px){
  div.hamburger_nav{
    display: inline-block;
    /* margin: 93px 0 0 89%; */
    margin-top: 94px;
    margin-left: calc(91% + 20px);
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.hamburger_nav{
    display: inline-block;
    margin-top: 94px;
    margin-left: calc(89% + 20px);
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.hamburger_nav{
    display: inline-block;
    margin-top: 94px;
    margin-left: calc(87% + 20px);
  }
}

@media (min-width: 412px) and (max-width: 575.98px){
  div.hamburger_nav{
    display: inline-block;
    margin-top: 94px;
    margin-left: calc(83% + 20px);
  }
}

@media (min-width: 376px) and (max-width: 414.98px){
  div.hamburger_nav{
    display: inline-block;
    margin-top: 92px;
    margin-left: calc(83% + 20px);
  }
}

@media screen and (max-width: 375.98px){
  div.hamburger_nav{
    display: inline-block;
    margin-top: 90px;
    margin-left: calc(83% + 20px);
    width: 44px;
  }
}

div.hamburger_nav div.bar1{
  width: 32px;
  height: 3px;
  background-color: #92551a;
  border-radius: 30px;
  position: absolute;
  top: 0px;
  transition: 0.4s;
}

div.change .bar1{
  transform: rotate(-45deg) translate(-8px, 8px);
}

div.hamburger_nav div.bar2{
  width: 32px;
  height: 3px;
  background-color: #92551a;
  border-radius: 30px;
  position: absolute;
  top: 12px;
  transition: 0.4s;
}

div.change .bar2{
  opacity: 0;
}

div.hamburger_nav div.bar3{
  width: 32px;
  height: 3px;
  background-color: #92551a;
  border-radius: 30px;
  position: absolute;
  top: 24px;
  transition: 0.4s;
}

div.change .bar3{
  transform: rotate(45deg) translate(-8px, -10px);
}

div.hamburger_nav ul.list{
  /* border: 1px solid red; */
  width: 200px;
  position: absolute;
  right: -20px;
  top: 57px;
  text-align: center;
  display: none;
  list-style: square;
  color: #e2b1b1;
  z-index: 50;
}

@media (min-width: 376px) and (max-width: 414.98px){
  div.hamburger_nav ul.list{
    right: -10px;
  }
}

@media screen and (max-width: 375.98px){
  div.hamburger_nav ul.list{
    right: 0;
  }
}

div.change ul.list{
  display: inline-block;
  background-color: #efeee7;
  padding: 20px 0;
  margin-top: 2px;
  box-shadow: inset -9px -9px 0 0 #d0bea9;
}

@media (min-width: 376px) and (max-width: 414.98px){
  div.change ul.list{
    margin-top: 4px;
  }
}

@media screen and (max-width: 375.98px){
  div.change ul.list{
    margin-top: 6px;
  }
}

div.change ul.list li{
  margin: 20px;
  text-align: center;
}

div.hamburger_nav ul a{
  font-size: 20px;
  font-weight: 500;
  color: #8c5235;
  text-decoration: none;
}

div.hamburger_nav ul li a.items{
  color: #d46a2b;
  border-bottom: 1px solid #d46a2b;
}

div.hamburger_nav ul a:hover{
  color: #d46a2b;
  border-bottom: 1px solid;
}

div.icon{
  display: inline-block;
  /* border: 1px solid red; */
  margin: 35px 0 0 93%;
}

@media (min-width: 992px) and (max-width: 1199.98px){
  div.icon{
    margin-left: calc(85% + 20px);
    margin-top: 35px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.icon{
    margin-left: calc(82% + 20px);
    margin-top: 35px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.icon{
    margin-left: calc(79% + 20px);
    margin-top: 35px;
  }
}

@media (min-width: 412px) and (max-width: 575.98px){
  div.icon{
    margin-left: calc(73% + 20px);
    margin-top: 35px;
  }
}

@media (min-width: 376px) and (max-width: 414.98px){
  div.icon{
    margin-left: calc(72% + 12px);
    margin-top: 33px;
  }
}

@media screen and (max-width: 375.98px){
  div.icon{
    margin-left: calc(70% + 20px);
    margin-top: 32px;
  }
}


div.icon img{
  width: 45px;
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.icon img{
    width: 45px;
  }
}

@media screen and (max-width: 375.98px){
  div.icon img{
    width: 45px;
  }
}

div.box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, .5);
  z-index: 1001;

  display: none;
}




div.breadcrumb{
  background-color: #f2f7fb;
  padding: 5px 10px;
}

div.breadcrumb ol.breadcrumb_list{
  list-style: none;
  max-width: 1200px;
}

div.breadcrumb ol.breadcrumb_list > li{
/*   border: 1px solid red; */
  display: inline-block;
  color: #bb755a;
  font-size: 15px;
}

/* 利用 ::before 擬似元素，創造斜線做為分隔 */
div.breadcrumb ol.breadcrumb_list > li::before{
  content: "/";
  font-size: 18px;
  color: gray;
  margin: 0 5px;
}
/* 第一個 li 元素，將 ::before 設定回來需要的 */
div.breadcrumb ol.breadcrumb_list > li:first-child::before{
  display: none;
}

div.breadcrumb ol.breadcrumb_list > li > a{
/*   border: 1px solid blue; */
  text-decoration: none;
  display: inline-block;
  color: #676a6d;
}

div.breadcrumb ol.breadcrumb_list > li > a:hover{
  color: #6d73bb;
}




/* main區域 */

main{
  background-color: #E3D9D9;
}

div.fiex-contain{
  max-width: 1200px;
  width: 100%;
}

/* div.navslide{
  border: 1px solid red;
} */

ul.slides {
  position: relative;
  max-width: 1000px;
  height: 500px;
  list-style: none;
  padding: 0;
  background-color: #e3d9d9;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 991.98px){
  ul.slides{
    width: 720px;
    max-width: 100%;
    height: 360px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  ul.slides{
    width: 540px;
    max-width: 100%;
    height: 270px;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  ul.slides{
    width: 100%;
    height: 258px;
  }
}

@media screen and (max-width: 375.98px){
  ul.slides{
    width: 100%;
    height: 258px;
  }
}

li.slide {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s transform ease-in-out;
}

/* li.slide:nth-of-type(1) img{
border: 1px solid blue;
} */

@media (min-width: 768px) and (max-width: 991.98px){
  li.slide:nth-of-type(1) img{
    width: 720px;
    max-width: 100%;
    height: 360px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  li.slide:nth-of-type(1) img{
    width: 540px;
    max-width: 100%;
    height: 270px;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  li.slide:nth-of-type(1) img{
    max-width: 100%;
  }
}

@media screen and (max-width: 375.98px){
  li.slide:nth-of-type(1) img{
    max-width: 100%;
  }
}


li.slide:nth-of-type(2) {
  left: 100%;
}

@media (min-width: 768px) and (max-width: 991.98px){
  li.slide:nth-of-type(2) img{
    width: 720px;
    max-width: 100%;
    height: 360px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  li.slide:nth-of-type(2) img{
    width: 540px;
    max-width: 100%;
    height: 270px;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  li.slide:nth-of-type(2) img{
    width: 540px;
    max-width: 100%;
  }
}

@media screen and (max-width: 375.98px){
  li.slide:nth-of-type(2) img{
    width: 540px;
    max-width: 100%;
  }
}

input[type="radio"] {
  position: relative;
  z-index: 100;
  display: none;
}

div.controls-visible {
  position: absolute;
  width: 100%;
  bottom: 12px;
  text-align: center;
}

div.controls-visible label {
  display: inline-block;
  width: 60px;
  height: 10px;
  background-color: #fff;
  border-radius: 20%;
  margin: 0 8px;
  border: 2px solid #fff;
  cursor: pointer;
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.controls-visible label{
    width: 50px;
    height: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.controls-visible label{
    width: 40px;
    height: 8px;
  }
}

@media screen and (max-width: 375.98px){
  div.controls-visible label{
    width: 40px;
    height: 8px;
  }
}

ul.slides input[type="radio"]:nth-of-type(1):checked ~ .controls-visible label:nth-of-type(1) {
  background-color: #a73434;
}

ul.slides input[type="radio"]:nth-of-type(2):checked ~ .controls-visible label:nth-of-type(2) {
  background-color: #a73434;
}

ul.slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
  transform: translatex(0%);
}

ul.slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
  transform: translatex(-100%);
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .navigator:nth-of-type(1) {
  display: flex;
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .navigator:nth-of-type(2) {
  display: flex;
}


/* 文字 */
div.text{
  /* border: 1px solid red; */
  margin: 0 auto;
  padding: 50px 0;
}
div.text p span{
  font-weight: 700;
  font-size: 2rem;
}

div.text p{
  color: #a73535;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}



/* 凝膠、護理 */
div.content-link{
  width: 1200px;
  max-width: 100%;
  /* border: 1px solid red; */
  margin: 0 auto;
}

ul.painted{
  display: flex;
  justify-content: space-evenly;
  padding: 0 40px;
}

@media (min-width: 576px) and (max-width: 767.98px){
  ul.painted{
    width: 540px;
    max-width: 100%;
    display: block;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  ul.painted{
    display: block;
    width: 100%;
    padding: 10px;
  }
}

@media screen and (max-width: 375.98px){
  ul.painted{
    display: block;
    width: 100%;
    padding: 0;
  }
}


ul.painted li:first-child{
  background-image: url(../images/pic.jpg);
  /* margin-right: 40px; */
}

@media (min-width: 768px) and (max-width: 1199.98px){
  ul.painted li:first-child{
    margin-right: 40px;
  }
}


ul.painted li:nth-child(2){
  background-image: url(../images/wash.jpg);
}

ul.painted li{
  width: 470px;
  height: 310px;
  background-position: center;
  background-size: cover;
}

@media (min-width: 376px) and (max-width: 575.98px){
  ul.painted li{
    width: 385px;
    max-width: 100%;
    height: 260px;
  }
}

@media screen and (max-width: 375.98px){
  ul.painted li{
    width: 100%;
    height: 260px;
  }
}

ul.painted li > a{
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: 1px solid white;
  margin: 10px;
}

@media (min-width: 376px) and (max-width: 575.98px){
  ul.painted li > a{
    margin: 10px 0;
  }
}

@media screen and (max-width: 375.98px){
  ul.painted li > a{
    margin: 10px 0;
  }
}

ul.painted div{
  position: absolute;
  bottom: 0;
  height: 50px;
  width: inherit;
  transition: all 1s;
}

@media (min-width: 376px) and (max-width: 575.98px){
  ul.painted div{
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 375.98px){
  ul.painted div{
    height: 100%;
  }
}

ul.painted a:hover div{
  height: 310px;
  transition-timing-function: ease-in-out;
  padding-top: 50px;
}

@media (min-width: 376px) and (max-width: 575.98px){
  ul.painted a:hover div{
    display: none;
  }
}

@media screen and (max-width: 375.98px){
  ul.painted a:hover div{
    display: none;
  }
}

ul.painted li:first-child div{
  background-color: rgba(216, 135, 174, .8);
  padding-top: 12.5px;
}

@media (min-width: 376px) and (max-width: 575.98px){
  ul.painted li:first-child div{
    background-color: rgb(76 74 75 / .3);
  }
}

@media screen and (max-width: 375.98px){
  ul.painted li:first-child div{
    background-color: rgb(76 74 75 / .3);
  }
}

ul.painted li:nth-child(2) div{
  background-color: rgba(208, 124, 57, .8);
  padding-top: 12.5px;
}

@media (min-width: 376px) and (max-width: 575.98px){
  ul.painted li:nth-child(2) div{
    background-color: rgb(76 74 75 / .3);
  }
}

@media screen and (max-width: 375.98px){
  ul.painted li:nth-child(2) div{
    background-color: rgb(76 74 75 / .3);
  }
}

ul.painted li > a div > h3{
  /* line-height: 50px; */
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 12.5px;
  line-height: 1;
}

@media screen and (max-width: 575.98px){
  ul.painted li > a div > h3{
    padding-top: 80px;
  }
}

ul.painted li > a div > p{
  margin: 0 10px;
  font-size: 18px;
}

ul.painted li > a:hover div > h3{
  /* line-height: 50px; */
  font-weight: 500;
  font-size: 25px;
  padding-top: 100px;
  line-height: 1;
}

ul.painted li > a:hover div > p{
  margin: 20 10px;
  font-size: 18px;
  padding-bottom: 20px;
}



/* 流程標題 */
div.back{
  /* border: 1px solid red; */
  margin: 200px auto 30px;
}

div.back h4{
  color: #ca7824;
  text-align: center;
  font-size: 28px;
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.back h4{
    width: 100%;
    margin-top: 50px;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.back h4{
    width: 100%;
    margin-top: 150px;
  }
}

@media screen and (max-width: 375.98px){
  div.back h4{
    width: 100%;
    margin-top: 150px;
  }
}





/* 流程 */
section.timeline{
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
  /* background: #fdf9f4; */
}

div.card{
  /* border: 1px solid red; */
  max-width: 1000px;
  margin-top: 10px;
}

div.number{
  display: inline-block;
  border: 1px solid pink;
  width: 55%;
  border-radius: 50px;
}

@media (min-width: 376px) and (max-width: 990px){
  div.number{
    display: none;
  }
}

@media screen and (max-width: 375.98px){
  div.number{
    display: none;
  }
}

div.number p{
  font-size: 200px;
  padding-left: 60%;
  color: #f3eee7;
  text-shadow: 2px 4px darkgrey;
}

section.timeline ul{
  display: inline-block;
}

@media (min-width: 376px) and (max-width: 415px){
  section.timeline ul{
    padding: 0;
  }
}

li.in_view{
  /* border: 1px solid red; */
  width: 400px;
  margin-bottom: 88px;
  margin-left: 20%;
}

@media (min-width: 576px) and (max-width: 990px){
  li.in_view{
    width: 350px;
    margin-bottom: 88px;
    display: inline-block;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  li.in_view{
    width: 350px;
    margin-bottom: 88px;
    margin-left: 5%;
  }
}

@media screen and (max-width: 375.98px){
  li.in_view{
    width: 300px;
    margin: 0 auto 88px;
  }
}

li.in_view2{
  /* border: 1px solid red; */
  width: 400px;
  margin-bottom: 88px;
}

@media (min-width: 576px) and (max-width: 990px){
  li.in_view2{
    margin-left: 20%;
    width: 350px;
    display: inline-block;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  li.in_view2{
    width: 350px;
    margin-left: 5%;
  }
}

@media screen and (max-width: 375.98px){
  li.in_view2{
    width: 300px;
    /* margin-left: 10%; */
  }
}

li.in_view div{
  position: relative;
  bottom: 0;
  padding: 20px;
  background: #fff;
  box-shadow: 4px 10px 25px 1px rgb(252 56 56 / 20%);
  border-radius: 5px;
}

li.in_view2 div{
  position: relative;
  bottom: 0;
  padding: 20px;
  background: #fff;
  box-shadow: 4px 10px 25px 1px rgb(252 56 56 / 20%);
  border-radius: 5px;
}

li.in_view div time{
  position: absolute;
  background: #e8a6a6;
  color: #fff;
  height: 30px;
  top: -10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  padding: 0 5px;
}

li.in_view2 div time{
  position: absolute;
  background: #e8a6a6;
  color: #fff;
  height: 30px;
  top: -10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  padding: 0 5px;
}

div.process img{
  width: 100%;
}

div.nail{
  text-align: center;
}




div.back2{
  /* border: 1px solid red; */
  margin: 100px auto 30px;
}

div.back2 h4{
  color: #ca7824;
  text-align: center;
  font-size: 28px;
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.back2 h4{
    width: 100%;
    margin-top: 100px;
  }
}

@media screen and (max-width: 575.98px){
  div.back2 h4{
    width: 100%;
    margin-top: 100px;
  }
}

div.attention{
  /* border: 1px solid red; */
  margin: 0 10% 50px;
}

div.attention p{
  line-height: 30px;
  border: 1px solid;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 15px;
  font-size: 18px;
  background-color: floralwhite;
}

div.attention p span{
  color: #676a6d;
}

div.right_sidebar{
  /* border: 1px solid red; */
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  min-height: 400px;
  width: 310px;
  background-color: #f5f3e4;
  color: black;
  padding: 10px 20px 10px 10px;
  border-radius: 10px 0 0 10px;
  z-index: 100;
  transition: transform 1s;
}
div.right_sidebar.-open{
  transform: translate(0%, -50%);
}

button.btn_drawer{
  background: none;
  background-color: #EFEBBB;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  color: black;
  border: 1px solid #835656;
  font-size: 18px;
  width: 1.6em;
  padding: 4px 0;
  line-height: 1.6;
  display: inline-block;
  border-radius: 5px 0 0 5px;
  text-align: center;
  outline: none;
  cursor: pointer;
}

div.bon{
  border-bottom: 1px solid #e3dddd;
  margin-bottom: 28px;
}

div.sidebar h3{
  font-size: 20px;
  font-weight: bold;
  color: #ca7824;
}

div.sidebar img{
  width: 40px;
  height: 100%;
  margin-bottom: 10px;
}

div.sidebar p > span{
  color: #515456;
  font-size: 14px;
}

div.sidebar i{
  width: 30px;
  height: 30px;
  color: #fc95a7;
  margin-left: 16px;
  cursor: pointer;
}




.Space{
  width: 100%;
  height: 45px;
  position: relative;
}
button.go_top{
  width: 42px;
  height: 40px;
  background: none;
  position: absolute;
  right: 20px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

button.go_top img{
  width: 22px;
  height: 20px;
}







/* footer */


footer.footer{
  margin: 20px auto 0;
  font-size: 1rem;
  display: block;
  background: #E3D9D9;
  padding: 30px 0;
}
footer div.picture{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer div.picture span{
  margin: 5px 10px;
}
footer div.picture span img{
  width: 45px;
  height: 45px;
}

@media (min-width: 376px) and (max-width: 575.98px){
  footer div.picture span img{
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 375.98px){
  footer div.picture span img{
    width: 20px;
    height: 20px;
  }
}


footer div.search{
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 991.98px){
  footer div.search{
    width: 720px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  footer div.search{
    width: 100%;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  footer div.search{
    width: 100%;
    display: grid;
    align-content: space-evenly;
  }
}

@media screen and (max-width: 375.98px){
  footer div.search{
    width: 100%;
    display: grid;
    align-content: space-evenly;
  }
}

footer div.search_box{
  display: inline-block;
  margin: 0;
}

footer div.search span{
  margin: 5px 40px;
  display: inline-block;
}

@media (min-width: 768px) and (max-width: 991.98px){
  footer div.search span{
    margin: 5px 25px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  footer div.search span{
    margin: 5px 13px;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  footer div.search span{
    margin: 5px auto;
  }
}

@media screen and (max-width: 375.98px){
  footer div.search span{
    margin: 5px auto;
  }
}

footer div.search span a{
  text-decoration: none;
}
footer div.search span p{
  color: black;
}

@media (min-width: 376px) and (max-width: 575.98px){
  footer div.search span p{
    color: #515456;
  }
}

@media screen and (max-width: 375.98px){
  footer div.search span p{
    color: #515456;
    font-size: 14px;
  }
}

footer div.search span p:hover{
  color: brown;
  font-size: 24px;
}

footer div.notice{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
footer div.notice p{
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: #8a4906;
}

@media screen and (max-width: 375.98px){
  footer div.notice p{
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
  }
}
