*{
  box-sizing: border-box;
  margin: 0 auto;
  list-style: none;
}


body{
  display: block;
}

header.header{
  background-color: rgb(227, 217, 217, .8);
  box-shadow: 0 2px 3px #b9aaa2;
  /* border: 1px solid red; */
  max-width: 100%;
  height: 100px;
  margin: 0 auto;
  position: sticky;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
}

div.container{
  /* border: 1px solid red; */
  max-width: 1200px;
  height: 100px;
  margin: 0 auto;
  position: sticky;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
}

div.logo_nav{
  position: absolute;
  top: 48%;
  transform: translateY(-40%);
  left: 40px;
  width: 300px;
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.logo_nav{
    left: 5px;
  }
}

@media screen and (max-width: 375.98px){
  div.logo_nav{
    left: 5px;
  }
}


a.logo img{
  width: 100%;
}

@media (min-width: 376px) and (max-width: 575.98px){
  a.logo img{
    width: 250px;
  }
}

@media screen and (max-width: 375.98px){
  a.logo img{
    width: 200px;
  }
}

a.logo img:hover{
  box-shadow: 0 2px 3px #b9aaa2;
}

div.inside{
  /* border: 1px solid red; */
  display: inline-flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 80px;
}

button{
  cursor: pointer;
}

button img{
  width: 20px;
  height: 20px;
}

nav.nav{
  margin: 30px auto 0;
}

ul.nav_list{
  padding: 0;
  margin: 0 10px;
  display: inline-flex;
  list-style: none;
}

@media (min-width: 576px) and (max-width: 1199.98px){
  ul.nav_list{
    width: 960px;
    max-width: 100%;
    display: none;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  ul.nav_list{
    display: none;
  }
}

@media screen and (max-width: 375.98px){
  ul.nav_list{
    display: none;
  }
}

ul.nav_list > li{
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

ul.nav_list li > a{
  text-decoration: none;
  font-size: 18px;
  color: #80677a;
  padding: 10px;
  /* border: 1px solid black; */
  transform: translateY(0px);
  transition: 0.5s;
}

ul.nav_list > li.bg{
  background-color: #f6f9fb;
  color: black;
  border-radius: 10px;
}

ul.nav_list li > a:hover{
  background-color: #d0b7ab;
  color: black;
  border-radius: 10px;
  transform: translateY(-10px);
}

div.social_block{
  font-size: 1rem;
  padding: 5px 10px;
  position: relative;
}

div.social_block:hover ul.social_link_list{
  display: block;
}

ul.social_link_list{
  margin: 0;
  padding: 0;
  display: none;
  border: 1px solid #58340a;
  z-index: 10;
  background-color: white;
  position: absolute;
  right: -1px;
  top: 10px;
}

ul.social_link_list li{
  list-style: none;
  width: 85px;
  border: 1px dotted #58340a;
}

ul.social_link_list li > a{
  color: black;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 12px 8px;
}

ul.social_link_list li > a:hover{
  color: #58340a;
}

div.hamburger_nav{
  /* border: 1px solid red; */
  width: 38px;
  height: 30px;
  position: absolute;
  top: -50px;
  cursor: pointer;
}

@media (min-width: 992px) and (max-width: 1199.98px){
  div.hamburger_nav{
    display: inline-block;
    /* margin: 93px 0 0 89%; */
    margin-top: 94px;
    margin-left: calc(91% + 20px);
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.hamburger_nav{
    display: inline-block;
    margin-top: 94px;
    margin-left: calc(89% + 20px);
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.hamburger_nav{
    display: inline-block;
    margin-top: 94px;
    margin-left: calc(87% + 20px);
  }
}

@media (min-width: 412px) and (max-width: 575.98px){
  div.hamburger_nav{
    display: inline-block;
    margin-top: 94px;
    margin-left: calc(83% + 20px);
  }
}

@media (min-width: 376px) and (max-width: 414.98px){
  div.hamburger_nav{
    display: inline-block;
    margin-top: 92px;
    margin-left: calc(83% + 20px);
  }
}

@media screen and (max-width: 375.98px){
  div.hamburger_nav{
    display: inline-block;
    margin-top: 90px;
    margin-left: calc(83% + 20px);
    width: 44px;
  }
}

div.hamburger_nav div.bar1{
  width: 32px;
  height: 3px;
  background-color: #92551a;
  border-radius: 30px;
  position: absolute;
  top: 0px;
  transition: 0.4s;
}

div.change .bar1{
  transform: rotate(-45deg) translate(-8px, 8px);
}

div.hamburger_nav div.bar2{
  width: 32px;
  height: 3px;
  background-color: #92551a;
  border-radius: 30px;
  position: absolute;
  top: 12px;
  transition: 0.4s;
}

div.change .bar2{
  opacity: 0;
}

div.hamburger_nav div.bar3{
  width: 32px;
  height: 3px;
  background-color: #92551a;
  border-radius: 30px;
  position: absolute;
  top: 24px;
  transition: 0.4s;
}

div.change .bar3{
  transform: rotate(45deg) translate(-8px, -10px);
}

div.hamburger_nav ul.list{
  /* border: 1px solid red; */
  width: 200px;
  position: absolute;
  right: -20px;
  top: 57px;
  text-align: center;
  display: none;
  list-style: square;
  color: #e2b1b1;
  z-index: 50;
}

@media (min-width: 376px) and (max-width: 414.98px){
  div.hamburger_nav ul.list{
    right: -12px;
  }
}

@media screen and (max-width: 375.98px){
  div.hamburger_nav ul.list{
    right: 0;
  }
}

div.change ul.list{
  display: inline-block;
  background-color: #efeee7;
  padding: 20px 0;
  margin-top: 2px;
  box-shadow: inset -9px -9px 0 0 #d0bea9;
}

@media (min-width: 376px) and (max-width: 414.98px){
  div.change ul.list{
    margin-top: 4px;
  }
}

@media screen and (max-width: 375.98px){
  div.change ul.list{
    margin-top: 6px;
  }
}

div.change ul.list li{
  margin: 20px;
  text-align: center;
}

div.hamburger_nav ul a{
  font-size: 20px;
  font-weight: 500;
  color: #8c5235;
  text-decoration: none;
}

div.hamburger_nav ul a:hover{
  color: #d46a2b;
  border-bottom: 1px solid;
}

div.icon{
  display: inline-block;
  /* border: 1px solid red; */
  margin: 35px 0 0 93%;
}

@media (min-width: 992px) and (max-width: 1199.98px){
  div.icon{
    margin-left: calc(85% + 20px);
    margin-top: 35px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.icon{
    margin-left: calc(82% + 20px);
    margin-top: 35px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.icon{
    margin-left: calc(79% + 20px);
    margin-top: 35px;
  }
}

@media (min-width: 412px) and (max-width: 575.98px){
  div.icon{
    margin-left: calc(73% + 20px);
    margin-top: 35px;
  }
}

@media (min-width: 376px) and (max-width: 414.98px){
  div.icon{
    margin-left: calc(72% + 20px);
    margin-top: 33px;
  }
}

@media screen and (max-width: 375.98px){
  div.icon{
    margin-left: calc(70% + 20px);
    margin-top: 32px;
  }
}


div.icon img{
  width: 45px;
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.icon img{
    width: 45px;
  }
}

@media screen and (max-width: 375.98px){
  div.icon img{
    width: 45px;
  }
}

div.box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, .5);
  z-index: 1001;

  display: none;
}



div.breadcrumb{
  background-color: #f2f7fb;
  padding: 5px 10px;
}

div.breadcrumb ol.breadcrumb_list{
  list-style: none;
  max-width: 1200px;
}

div.breadcrumb ol.breadcrumb_list > li{
/*   border: 1px solid red; */
  display: inline-block;
  color: #bb755a;
  font-size: 15px;
}

/* 利用 ::before 擬似元素，創造斜線做為分隔 */
div.breadcrumb ol.breadcrumb_list > li::before{
  content: "/";
  font-size: 18px;
  color: gray;
  margin: 0 5px;
}
/* 第一個 li 元素，將 ::before 設定回來需要的 */
div.breadcrumb ol.breadcrumb_list > li:first-child::before{
  display: none;
}

div.breadcrumb ol.breadcrumb_list > li > a{
/*   border: 1px solid blue; */
  text-decoration: none;
  display: inline-block;
  color: #676a6d;
}

div.breadcrumb ol.breadcrumb_list > li > a:hover{
  color: #6d73bb;
}




main.main{
  max-width: 1200px;
}

div.contain{
  min-width: 100%;
  margin: 120px auto 0;
  display: flex;
  /* border: 1px solid red; */
}

@media (min-width: 576px) and (max-width: 1199.98px){
  div.contain{
    margin: 90px auto 0;
  }
}

div.opts{
  /* border: 1px solid red; */
  display: none;
  width: 100%;
  margin-bottom: 30px;
}

@media (min-width: 992px) and (max-width: 1199.98px){
  div.opts{
    display: inline-block;
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.opts{
    display: inline-block;
    margin-left: 50px;
    width: 80%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.opts{
    display: block;
    width: 80%;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.opts{
    display: block;
    width: 80%;
  }
}

@media screen and (max-width: 375.98px){
  div.opts{
    display: block;
    width: 80%;
  }
}

div.shape{
  /* border: 1px solid red; */
  width: 250px;
  display: inline-block;
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.shape{
    display: block;
    margin: 0 0 10px;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.shape{
    display: block;
    margin: 0 0 10px;
  }
}

@media screen and (max-width: 375.98px){
  div.shape{
    display: block;
    margin: 0 0 10px;
  }
}


div.colour{
  /* border: 1px solid red; */
  width: 250px;
  display: inline-block;
}

div.opt{
  /* border: 1px solid red; */
  display: inline-block;
  margin-left: 3%;
}

div.opt2{
  /* border: 1px solid red; */
  display: inline-block;
  margin-left: 3%;
}

div.opt h3{
  font-size: 16px;
}

div.opt2 h3{
  font-size: 16px;
}

select.all{
  cursor: pointer;
  width: 150px;
  height: 25px;
}





div.side_nav{
  /* border: 1px solid red; */
  width: 12%;
  padding: 10px 10px;
  margin: 0 30px;
  display: inline-block;
  vertical-align: top;
}

@media (min-width: 376px) and (max-width: 1199.98px){
  div.side_nav{
    display: none;
  }
}

@media screen and (max-width: 375.98px){
  div.side_nav{
    display: none;
  }
}

div.side_nav h3{
  margin-bottom: 40px;
  font-size: 16px;
}

div.side_nav_content{
  padding: 0;
  margin: 0;
}

div.selsct{
  /* border: 1px solid green; */
  border-bottom: 2px solid #c38989;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

div.select h4.slid_down_1, h4.slid_down_2{
  margin-bottom: 10px;
}

ul.drop_down{
  margin-top: 10px;
  padding: 0;
}

ul.drop_down > li{
  /* border: 1px solid red; */
  padding: 5px 0;
  font-weight: lighter;
  font-size: 15px;
}

ul.drop_down > li:hover{
  color: #CB1B80;
}


div.sub_container{
  /* border: 1px solid red; */
  width: 925px;
  display: inline-block;
  vertical-align: top;
  /* margin-left: 60px; */
}

@media (min-width: 992px) and (max-width: 1199.98px){
  div.sub_container{
    width: 960px;
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.sub_container{
    width: 720px;
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.sub_container{
    width: 540px;
    display: block;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.sub_container{
    width: 100%;
  }
}

@media screen and (max-width: 375.98px){
  div.sub_container{
    width: 100%;
  }
}


div.product_item{
  position: relative;
  width: 250px;
  height: 270px;
  background-color: #f9f6f6;
  box-shadow: 5px 5px #d8c7bb;
  align-items: center;
  display: inline-block;
  margin: 0 25px 5%;
}

@media (min-width: 768px) and (max-width: 991.98px){
  div.product_item{
    width: 300px;
    height: 320px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  div.product_item{
    width: 42%;
    height: 10%;
    margin: 0 20px 5%;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  div.product_item{
    width: 80%;
    height: 8%;
    /* margin: 0 50px 5%; */
    box-shadow: none;
  }
}

@media screen and (max-width: 375.98px){
  div.product_item{
    width: 80%;
    height: 8%;
    box-shadow: none;
  }
}



div.pic{
  border-radius: 5px;
  margin-top: 2%;
  width: 90%;
}

div.pic > img{
  width: 100%;
}

div.favorite > img{
  /* border: 1px solid red; */
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: #f1c5b6;
  border-radius: 15%;
  cursor: pointer;
}

div.favorite > img:hover{
  background-color: #f7f09c;
}




div.pages_all{
  width: 925px;
}

@media (min-width: 378px) and (max-width: 991.98px){
  div.pages_all{
    width: 80%;
  }
}

@media screen and (max-width: 375.98px){
  div.pages_all{
    width: 80%;
  }
}

div.pages{
  /* border: 1px solid red; */
  display: flex;
  margin: 20px auto;
  justify-content: space-between;
  width: 320px;
  margin-bottom: 40px;
  cursor: pointer;
}

div.-on{
  border-radius: 30px;
  background-color: #fbd8d8;
  padding: 1px 8px;
}

div.arrow img{
  width: 15px;
  height: 12px;
}

div.arrow:hover{
  border-radius: 30px;
  background-color: #f3c3c3;
  padding: 1px 8px;
}

div.arrow{
  padding: 0 5px;
}

div.right_sidebar{
  /* border: 1px solid red; */
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  min-height: 400px;
  width: 310px;
  background-color: #f5f3e4;
  color: black;
  padding: 10px 20px 10px 10px;
  border-radius: 10px 0 0 10px;
  z-index: 100;
  transition: transform 1s;
}
div.right_sidebar.-open{
  transform: translate(0%, -50%);
}

button.btn_drawer{
  background: none;
  background-color: #EFEBBB;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  color: black;
  border: 1px solid #835656;
  font-size: 18px;
  width: 1.6em;
  padding: 4px 0;
  line-height: 1.6;
  display: inline-block;
  border-radius: 5px 0 0 5px;
  text-align: center;
  outline: none;
  cursor: pointer;
}

div.sidebar h3{
  font-size: 20px;
  font-weight: bold;
  color: #ca7824;
}

div.sidebar img{
  width: 40px;
  height: 100%;
  margin-bottom: 10px;
}

div.sidebar p > span{
  color: #515456;
  font-size: 14px;
}







button.go_top{
  width: 42px;
  height: 40px;
  background: none;
  position: sticky;
  left: 20px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

button.go_top img{
  width: 22px;
  height: 20px;
}


/* footer */


footer.footer{
  margin: 20px auto 0;
  font-size: 1rem;
  display: block;
  background: #E3D9D9;
  padding: 30px 0;
}
footer div.picture{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer div.picture span{
  margin: 5px 10px;
}
footer div.picture span img{
  width: 45px;
  height: 45px;
}

@media screen and (max-width: 375.98px){
  footer div.picture span img{
    width: 20px;
    height: 20px;
  }
}


footer div.search{
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 991.98px){
  footer div.search{
    width: 720px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  footer div.search{
    width: 100%;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  footer div.search{
    width: 100%;
    display: grid;
    align-content: space-evenly;
  }
}

@media screen and (max-width: 375.98px){
  footer div.search{
    width: 100%;
    display: grid;
    align-content: space-evenly;
  }
}

footer div.search_box{
  display: inline-block;
  margin: 0;
}

footer div.search span{
  margin: 5px 40px;
  display: inline-block;
}

@media (min-width: 768px) and (max-width: 991.98px){
  footer div.search span{
    margin: 5px 25px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  footer div.search span{
    margin: 5px 13px;
  }
}

@media (min-width: 376px) and (max-width: 575.98px){
  footer div.search span{
    margin: 5px auto;
  }
}

@media screen and (max-width: 375.98px){
  footer div.search span{
    margin: 5px auto;
  }
}

footer div.search span a{
  text-decoration: none;
}
footer div.search span p{
  color: black;
}

@media (min-width: 376px) and (max-width: 575.98px){
  footer div.search span p{
    color: #515456;
  }
}

@media screen and (max-width: 375.98px){
  footer div.search span p{
    color: #515456;
    font-size: 14px;
  }
}

footer div.search span p:hover{
  color: brown;
  font-size: 24px;
}

footer div.notice{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
footer div.notice p{
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: #8a4906;
}

@media screen and (max-width: 375.98px){
  footer div.notice p{
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
  }
}
